body {
	background-color: black;
}

.loader {
	display: block;
	position: relative;
	height: 32px;
	width: auto;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(138, 137, 137);
	color: red;
	overflow: hidden;
}
.loader::before {
	content: '';
	background: blue;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation: loading 10s linear 1;
}
.loader:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	color: rgb(0, 255, 255);
	mix-blend-mode: difference;
	animation: percentage 10s linear 1;
}

.successShow {
	opacity: 0;
	color: rgb(6, 126, 6);
}

.card {
	background-color: darkgray;
}

@keyframes loading {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes percentage {
	0% {
		content: '0%';
	}
	5% {
		content: '5%';
	}
	10% {
		content: '10%';
	}
	20% {
		content: '20%';
	}
	30% {
		content: '30%';
	}
	40% {
		content: '40%';
	}
	50% {
		content: '50%';
	}
	60% {
		content: '60%';
	}
	70% {
		content: '70%';
	}
	80% {
		content: '80%';
	}
	90% {
		content: '90%';
	}
	95% {
		content: '95%';
	}
	96% {
		content: '96%';
	}
	97% {
		content: '97%';
	}
	98% {
		content: '98%';
	}
	99% {
		content: '99%';
	}
	100% {
		content: '100%';
	}
}
